<nav class="navbar bg-dark navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BlogPress</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/articles">Artigos</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <a class="btn btn-primary" href="/newUser">Criar Novo Usuario</a>
        </ul>
        <ul class="navbar-nav">
            <a class="btn btn-primary" href="/logout">Logout</a>
        </ul>
    </div>
</nav>